




@import url('https://fonts.googleapis.com/css?family=Cormorant:400i');@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
body{overflow-x:hidden;}
body.page-faq,
body.page-rules{background:#f0f0f0;}
ul{margin:0;padding:0;list-style:none;}
.text-center{text-align:center;}
header{background:#fff;}
.page-faq .main-content,
.page-rules .main-content{padding-top:25px;}
.logo-home-link{display:block;width:100%;max-width:224px;padding:50px 0 45px;}
.logo-home-link img{width:100%}
.top-navigation-bar{width:100%;max-width:726px;}
.main-navigation ul{display:none;float:right;}
.main-nav{text-align:justify;font-size:0;}
.main-nav:after{content:'';display:inline-block;width:100%;}
.main-nav li{display:block;text-align:right;padding:12px 0;overflow:visible;}
.main-nav li a{font-size:15px;text-transform:uppercase;color:#000;}
.main-nav li a.current-menu-item{color:#d60058;}
.main-nav li a{width:100vw;display:block;}
.menu-toggle,
.main-navigation.toggled ul{display:block;position:relative;z-index:1;}
@media screen and (min-width:992px){.menu-toggle{display:none;}
    .main-navigation ul{display:block;}
}
footer{padding:66px 0 78px;}
.footer-social-links{text-align:center;margin:0 0 30px 0;}
.footer-social-links li{display:inline-block;padding:0 6px;}
.footer-social-links a{display:block;width:42px;height:42px;background-image:url(../images/image-snippet.png);}
.footer-social-links a.vk{background-position:-4px -104px;}
.footer-social-links a.fb{background-position:-58px -104px;}
.footer-social-links a.od{background-position:-111px -104px;}
.footer-social-links a.tw{background-position:-166px -104px;}
.footer-links,
.footer-links:hover,
.footer-links:visited{color:#000;text-decoration:underline;}
.footer-links{padding:30px 0 0;display:block;text-align:center;}
.home-page-banner img.all-in-one{width:100%;}
.home-page-steps{margin-top:-65px;position:relative;z-index:99;}
.home-page-step{text-align:center;padding:4% 20px 21px;color:#fff;}
.step1{background-color:#d60058;}
.step2{background-color:#1a99a4;}
.step3{background-color:#f86f00;}
.step-icon{display:inline-block;width:80px;height:71px;background-image:url(../images/image-snippet.png);}
.step1 .step-icon{background-position:3px 0;}
.step2 .step-icon{background-position:-77px 0;width:75px;}
.step3 .step-icon{background-position:-150px 0;width:63px;}
.step-title{font-size:24px;font-weight:300;letter-spacing:2px;padding:40px 0 30px;}
.step-text{font-size:16px;font-weight:300;letter-spacing:1px;}
.apps-links{padding:25px 0 0;}
.app-link{display:inline-block;width:128px;height:47px;background-image:url(../images/image-snippet.png);}
.app-link.appstore{background-position:-131px -156px;width:140px;}
.app-link.googleplay{background-position:-1px -156px;}
#faq-container{padding:0 0 0 70px;}
#faq-container .panel.panel-default{margin-bottom:40px;}
#faq-container h4.panel-title{margin:0;padding:14px 0 34px 0;border-bottom:1px solid #d60058;}
#faq-container h4.panel-title a{font-size:30px;font-weight:300;position:relative;}
#faq-container h4.panel-title a.collapsed:before{-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);transform:rotate(-90deg);}
#faq-container h4.panel-title a:before{content:'';display:block;width:48px;height:48px;position:absolute;background-image:url(../images/image-snippet.png);background-position:-225px 0px;left:-70px;transition:transform 0.3s ease;}
#faq-container .panel-body{padding:30px 0;}
#faq-container .panel-body p{margin:0;}
.rules{text-align:center;padding:63px 0 0;}
.rule-num{width:81px;font-size:65px;line-height:81px;color:#fff;background:#d60058;border-radius:50%;font-weight:100;display:inline-block;}
.rule-title{font-size:36px;font-weight:300;color:#d60058;margin:60px 0 50px;}
.rule-text{font-size:21px;font-weight:300;padding:0 0 45px 0;}
.next-rule{display:inline-block;overflow:hidden;width:90%;max-width:374px;height:17px;border-top:2px solid #d60058;position:relative;}
.next-rule:after{content:'';position:absolute;display:block;width:22px;height:22px;background:#d60058;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);left:50%;margin-left:-12px;top:-11px;}
.rule5 .next-rule:after{display:none;}
.cormorant{font-family:'Cormorant';}
.pobed{text-transform: uppercase;letter-spacing: 5px;margin-bottom: 10px;}
.prizes-banner{background-image:url(../images/prizes-bg.jpg);background-size:cover;background-position:center;text-align:center;padding:3% 0;}
.popup-bg{display:none;position:fixed;top:0;left:0;bottom:0;right:0;background:rgba(0, 0, 0, 0.6);overflow:scroll;z-index:999;}
.popup-box{width:90%;max-width:500px;margin:2% auto;background:#fff; padding: 5% 4% 4%;position:relative;border-radius:3px;}
.close-popup{background:none;border:none;position:absolute;width:21px;height:21px;background-image:url(../images/image-snippet.png);background-position:-178px -78px;top:20px;right:20px;}
.popup-title{font-size:27px;text-transform:uppercase;text-align:center;margin:0 0 5% 0;}
.registration-form{text-align:center;}
.forms input{width:100%;border:2px solid #b8b9b9;border-radius:2px;padding:12px;font-size:20px;line-height:20px;margin: 0 0 5% 0;text-align:left;}
.forms input.btn{display:inline-block;width:auto;border:none;margin: 0;}
.has-error .form-control{border-color:#f00;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);margin:0px 0 5px 0;}
.has-success .form-control{border-color:#0b0;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label{color:#f00;}
.help-block{display:block;margin-top:5px;margin-bottom:10px;color:#f00;}
.btn{font-size:26px !important;font-weight:300;border-radius:20px !important;border:1px;padding:10px 27px 12px !important;letter-spacing:1px;}
.btn-red{background:#d60058;color:#FFF;}
.forms p{text-align:left;color:#878787;font-size:14px;}
.line-sep-02{border-top:1px solid #d60058;}
.forms textarea{width:100%;border:2px solid #b8b9b9;border-radius:2px;margin:0 0 30px 0;padding:17px;font-size:20px;}
.forms{text-align:center;}.week_winner{text-transform: uppercase;}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8);}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
.fa-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.fa-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.fa-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
.fa-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}
.fa-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}
:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root
.fa-5x{font-size:5em;}
.fa-spinner:before{content:"\f110";}
a.btn{line-height:20px !important;padding:5px 27px 7px !important;}
a.btn-red:hover{color:#fff;}
a.btn-white{border:1px solid #d60058;}
.winners-of-week{background-image:url(../images/winners-banner-bg.jpg);background-size:cover;background-position-x: 50%;color:#fff;text-align:center;padding:3% 0;}
.winners-of-week h1{line-height:45px;padding:0 0 35px 0;border-bottom:2px solid #fff;display:inline-block;letter-spacing:2px;margin:0 0 60px;}
.winners-of-week h1 span{font-weight:200;}
.winners-photos{width:90%;max-width:780px;margin:0 auto;}
img.winner-photo{width:90%;max-width:180px;padding:8px;border:1px solid #fff;border-radius:50%;margin:0 0 20px 0;}
.sep-line-03{width:90%;height:2px;background:#fff;margin:50px auto 40px;}
.parabens .text{font-size:41px;line-height:34px;}
.all-winners{padding:65px 0 0;}
.all-winners-list{margin:60px 0 0;text-align:justify;}
.all-winners-list:after{content:'';display:inline-block;width:100%;}
.all-winners-list li{display:inline-block;position:relative;overflow:hidden;}
.all-winners-list li img{width:100%;}
.all-winners-list li .name{position:absolute;bottom:0;background:rgba(0, 0, 0, 0.6);color:#fff;padding:20px 0;width:100%;text-align:center;}
.about-brand h1{font-size:30px;font-weight:300;color:#d30759;padding:0 0 34px 0;border-bottom:1px solid #d60058;}
.home-page-banner{position:relative;}
.badge-and-button{position:absolute;top:0;width:100%;padding:35px 0 0;z-index:20;}
.red-badge{display:table-cell;position:relative;background-image:url(../images/home-banner-red-bage-bg.png);background-size:100%;background-repeat:no-repeat;width:243px;height:243px;vertical-align:middle;color:#fff;text-align:center;}
.wish{font-size:26px;letter-spacing:2px;font-weight:200;text-transform:uppercase;padding:0 0 18px 0;border-bottom:1px solid #fff;width:80%;margin:0 auto;line-height:26px;}
.red-badge img{margin:10px 0 15px;}
.make-it-real{font-size:32px;line-height:26px;}
.btn-white-text{color:#fff;background:rgba(0, 0, 0, 0.4);border:#fff solid 1px;}
a.btn.i-am-in{margin-top:10%;display:inline-block;letter-spacing:3px;font-size:30px;padding:13px 29px !important;}
.parallax-container{width:106%;margin-left:-3%;}
.parallax-container img{width:100%;}
.parallax-layer{position:absolute;top:0;bottom:0;left:0;right:0;background-size:100%;width:106%;margin-left:-3%;}
#parallax-layer-bottom{z-index:1;background-image:url(../images/parallax-table.png);}
#parallax-layer-up{z-index:2;background-image:url(../images/parallax-parfume.png);}
.menu-toggle{margin:70px 0 0;float:right;background:none;border:none;position:relative;z-index:2;width:31px;height:24px;background-image:url(../images/menu-button.png);}
.mobile-home-page-banner{text-align:center;padding:40px 0;background-image:url(../images/banner-allinone-mobile.jpg);background-size:cover;background-position:center;}
.mobile-home-page-banner img.all-in-one{width:100%;}
.mobile-home-page-banner a.btn{display:inline-block;margin:30px 0;}
.red-badge-container{margin:30px auto 0;width:243px;}
.prizes-banner .badge{/*width:90%;max-width:446px;*/margin:0 auto;}
/*.prizes-banner .badge img{width:100%;}*/
.badge{display:inline-block;position:relative;text-align:center;}
.badge-text{position:absolute;color:#fff;top:20px;width:100%;font-size:34px;line-height:34px;font-weight:300;}
.main-nav li a:hover {  cursor: pointer; color: #d60058;}
span.hundred{font-size:110px;line-height:98px;}
.winners-of-week img, .prizes-banner img{width: 350px}
.line-sep-01{display:block;width:80%;height:2px;background:#fff;margin:0 auto 30px;}
.icon-prize{width:56px;height:68px;margin:8px auto 0;background-image:url(../images/image-snippet.png);background-position: -216px -78px;}.icon-trof{width: 82px;height: 84px;margin: 5px auto 9px;background-image: url(../images/image-snippet.png);background-position: -1px -204px;}.main-link{color: #000000;text-decoration: underline;} .main-link:hover{color:#d30759;}
.prizes-banner-mobile{background:#d60058;color:#fff;text-align:center;padding:0 0 40px 0;}.black{color:#000000}.black:hover{color:#000000}.winners-banner-mobile{background: #d60058;color: #fff;text-align: center;padding: 0 0 30px 0;}.larger{font-size: larger}
.winners-of-week .line-sep-01{margin: 0 auto 0px;}
.checkbox, .radio {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 7px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    color:#6a6a6a;
}
.checkbox input {
    width: 15px;
}

@media screen and (max-width:767px){.container{padding:0 10px;}
    .winners-of-week{padding:40px 0;}.img-winner{width: 243px;height: 243px;}
    .all-winners{padding-top:60px;}
    .home-page-steps{width:100vw;margin-left:-10px;margin-top:0;}
    .all-winners-list li{width:100%;max-width:300px;display:block;margin:20px auto;}
    img.winner-photo{margin-bottom:3px;}
    .winner-name{margin-bottom:22px;}
}
@media screen and (min-width:768px){.menu-toggle{margin-top:70px;float:right;}
    .all-winners-list li{width:48%;}.step-title {font-size: 19px;}
}
@media screen and (min-width:992px){.main-navigation ul{float:none;}
    .main-nav li{padding-top:77px;display:inline-block;}
    .menu-toggle{margin-top:70px;}
    .main-nav li a{width:auto;}
    .footer-links{float:right;display:inline-block;padding:0;}
    .all-winners-list li{width:30%;}
}
@media screen and (max-width:500px){}
@media screen and (max-width:400px){.menu-toggle{margin-top:66px;}
}
@media screen and (max-width:350px){
    .menu-toggle{margin-top:64px;}.week_winner {
                                      font-size: 20px!important;
                                  }
}